a{
	font-size:20px;
	border:5px solid;
	border-color:black;
	background-color:#800000;
	color:white;
}
div.header,div.footer{
	padding:10px;
	text-align:center;
	background:black;
	color:white;
	font-size:30px;
}
form{
	background-color:maroon;
	color:white;
}
input[type="reset"],button
{
	background-color:black;
	color:white;
}
label.h1
{
	color:Green;
	font-size:20;
	font-style:bold;
}
lable.m1
{
	color:#ffff00;
	font-size:20;
	font-style:bold;
}
label.l1
{
	
    color:black;
	font-size:20;
	font-style:bold;